[submodule "frontends/frontend-main"]
	path = frontends/frontend-main
	url = git@github.com:gtplusnet/ante-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = git@github.com:gtplusnet/ante-backend.git
	branch = main
[submodule "frontends/user-manual"]
	path = frontends/user-manual
	url = git@github.com:gtplusnet/ante-user-manual.git
[submodule "frontends/frontend-gate-app"]
	path = frontends/frontend-gate-app
	url = git@github.com:gtplusnet/ante-gate-app.git
[submodule "frontends/frontend-guardian-app"]
	path = frontends/frontend-guardian-app
	url = git@github.com:gtplusnet/ante-guardian-app.git
[submodule "bot"]
	path = bot
	url = git@github.com:gtplusnet/ante-bot.git
[submodule "frontends/ante-facial-recognition"]
	path = frontends/ante-facial-recognition
	url = https://github.com/gtplusnet/ante-facial-recognition.git
