table {
  thead {
    tr {
      th {
        border: 1px solid #ddd;
        background-color: #fafafa;
      }
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid #ddd;
      }
    }
  }
}
