.left-panel {
    width: calc(100% - 420px);
    padding: 12px 12px 0 12px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .right-panel {
    padding: 88px 2px 19px 2px;
    position: fixed;
    right: 24px;
    top: 0;
    min-width: calc(410px - 10px);
    max-height: calc(100vh);
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: auto;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }